---
---


/*!
  The main styles for the website
 */

// get the Noto Sans CJK SC font 
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

// universal settings
 body {
   font-family: 'Noto Sans SC',
   sans-serif !important;
   background-color: {{ site.data.colors.primary-white }};
 }

.bg.blockstream-blue-light {
   background-color: #7EE0FF;
 }

 .txt.blockstream-blue-light {
   color: #7EE0FF;
 }

 .bg.blockstream-blue {
   background-color: #00CCFF;
 }

 .txt.blockstream-blue {
   color: #00CCFF;
 }

 .bg.blockstream-blue-dark {
   background-color: #002D3B;
 }

 .txt.blockstream-blue-dark {
   color: #002D3B;
 }

 .bg.blockstream-blue-med {
   background-color: #00789D;
 }

 .txt.blockstream-blue-med {
   color: #00789D;
 }

 .bg.blockstream-green {
   background-color: {{ site.data.colors.markers-color }};
 }

 .txt.blockstream-green {
   color: {{ site.data.colors.markers-color }};
 }

 .ui.fixed.inverted.menu {
   background-color: #002D3B !important;
 }

 .ui.inverted.blue.segment {
   background-color: #00789D !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.seablue.stripe.segment {
   background-color: #00CCFF !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.phosgreen.stripe.segment {
   background-color: {{ site.data.colors.markers-color }} !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.ltblue.stripe.segment {
   background-color: #7EE0FF !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.drkblue.stripe.segment {
   background-color: #002D3B !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.blackish.stripe.segment {
   background-color: #00131a !important;
   color: #FFFFFF !important;
 }

 .ui.inverted.header {
   font-weight: 600;
 }

 .italic {
   color: #4C4C4C;
 }

 .hidden.menu {
   display: none;
 }

 .main.container {
   margin-top: 4.5em;
 }

 .main.menu {
   margin-top: 4em;
   border-radius: 0;
   border: none;
   box-shadow: none;
   transition: box-shadow 0.5s ease, padding 0.5s ease;
 }

 .main.menu .item img.logo {
   margin-right: 1.5em;
 }

 .overlay {
   float: left;
   margin: 0em 3em 1em 0em;
 }

 .overlay .menu {
   position: relative;
   left: 0;
   transition: left 0.5s ease;
 }

 .main.menu.fixed {
   background-color: #FFFFFF;
   border: 1px solid #DDD;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
 }

 .overlay.fixed .menu {
   left: 800px;
 }

 .ui.footer.segment {
   padding: 5em 0em;
 }

 .cards.container {
   margin-top: 4em;
 }

 .ui.tiny.image {
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   border-radius: 100%;
   border: 1px solid {{ site.data.colors.markers-color }};
 }

 .ui.divider:not(.vertical):not(.horizontal) {
   border-top: 1px solid #00CCFF;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   width: 150px;
 }

 .ui.divider.short:not(.vertical):not(.horizontal) {
   border-top: 1px solid {{ site.data.colors.markers-color }};
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   width: 100px;
 }


/* 
 Mapbox styles
*/

#map {
  position: relative;
  width: 100%;
  height: 700px;
  top: 20px;
}

// remove the mapbox attribution 
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}


// pop-up style
// the entire popup
.mapboxgl-popup {
  // border: 1px solid yellow;
  // border-radius: 0 !important;
}
// the content 
.mapboxgl-popup-content {
  border-radius: 0 !important;
  min-width: 11vw;
  min-height: 11vw;
  font-size: 1em;
  background-color: #00C0EC !important;
  // border: 1px solid red;
  .exchange-logo {
    max-width: 100px;
  }
  .exchange-country {
    text-transform: uppercase;
    opacity: 0.7;
  }
}

// The tip of the pop-up message
.mapboxgl-popup-tip {

  border-top-color: #00C0EC !important;
  // margin-bottom: -15px;
  
  // border-bottom-color: #00C0EC !important;
  // border-left-color: #00C0EC !important;
  // border-right-color: #00C0EC !important;
}

// map's legend 
.legend {
   background-color: transparent;
   position: absolute;
   top: 60px;
   right: 30px;
   z-index: 1;
  span {
    color: white;
    margin-right: 20px;
  }
  .circle {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background-color: {{ site.data.colors.markers-color }};
  }
}

// top logo for powered by 
.top-logo {
  position: absolute;
  top: 100px;
  left: 13vw;
  max-width: 15em;
}

// the call to action text 
.callToAction {
  position: relative;
  bottom: 100px;
  a {
    color: white;
  }
}


// style the buttons beneath the map 
.cryptocurrencyButtons {
  position: relative;
  bottom: 80px;

  .main-currency-lable {
    padding-left: 10vw;
  }

  // Style the radio button 
  .ui.radio.checkbox input:checked~.box:after,
  .ui.radio.checkbox input:checked~label:after {
    background-color: {{ site.data.colors.markers-color }} !important;
  }

  // style the dimensions of the radio button 
  .ui.radio.checkbox .box:after,
  .ui.radio.checkbox label:after {
    top: -14px;
    left: -16px;
    width: 45px;
    height: 45px;
  }
  // style the labels
  label {
    color: rgba(255, 255, 255, 0.534) !important;
  }

  // position the label before the input 
  .ui.radio.checkbox label {
    padding-left: 0;
    padding-right: 1.5em;
  }

  .ui.checkbox input,
  .ui.radio.checkbox label:before {
    left: auto;
    right: 0;
  }

  .ui.radio.checkbox label:after {
    left: auto;
    right: 1.2em;
    // transition: background 0.3s ease 0s, all 0.3s ease 0s;
  }

  .ui.radio.checkbox input:checked+label:after {
    left: auto;
    right: -1em;
    // transition: background 0.3s ease 0s, all 0.3s ease 0s;
  }
}

// Page transitions' animations (to load a new page without reloading the tab)
@keyframes slideInUp {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

// apply the animation to the content wrapper 
#content-wrapper {
  animation-duration: .38s;
  animation-fill-mode: both;
  animation-name: slideInUp;
}

// fiat currencies 
.currencyLabel {
  font-size: 1.2em !important;
  margin-left: 50px;
}
.fiat-currency-container {
  background: {{ site.data.colors.primary-grey }};
  padding-top: 30px;
  padding-bottom: 20px;
  // width: 100vw !important;
}
// fix a responsiveness issue with the radio buttons on the top
.form {
  max-width: none !important;
}

// all default pages
// navigation buttons (about, resources, exchanges)
#default-page {
  .header {
     color: {{ site.data.colors.nav-buttons-primary }};
   }
  margin-top: 40px;
  .buttons {
    border-bottom: 6px solid {{ site.data.colors.active-button }};
  }
  .button {
    // to have sharp edges matching the designs
    border-radius: 0 !important;
    // to have this white left border shown in designs 
    border-left: 2px solid {{ site.data.colors.primary-white }};
    // default button color
    background: {{ site.data.colors.nav-buttons-primary }};
    // button's text color 
    color: {{ site.data.colors.primary-white }};
  }

  // to avoid having a white border-left for the first button in the nav buttons group 
  .first {
    border-left: 0px;
  }
  
  .active {
    background: {{ site.data.colors.active-button }};
    color: {{ site.data.colors.nav-buttons-primary }};
  }

  // about page 
  .column {
    padding-bottom: 0;
    
  }
  .grid {
    margin-bottom: 10px;
  }
  .about-data {
    img {
      // for debugging
      // border: 1px solid red;
      margin-top: 10px;
    }
    a {
      color: {{ site.data.colors.active-button }};
      padding-bottom: 1px;
      border-bottom: 1px solid {{ site.data.colors.active-button }};
    }
  }

  // why blocksream and ice?
  .divider {
    width: 100%;
    margin-top: 1px;
    color: {{ site.data.colors.active-button }};
    border-bottom: 2px solid {{ site.data.colors.active-button }};
  }

  .why-blockstream {
    img {
      margin-bottom: 30px;
      max-height: 95px;
    }
  }

  // the testimonials section 
  .testimonials-slider {
    color: {{ site.data.colors.nav-buttons-primary}};
    q {
      quotes: '\201c' '\201d';
      font-size: 1.7em;
      line-height: 1.3em;
    }
    footer {
      font-size: 1.2em;
      font-weight: bold;
    }

    q:before {
      content: open-quote;
    }

    q:after {
      content: close-quote;
    }

    .js .slider-single>div:nth-child(1n+2) {
      display: none
    }
    .slider-nav>div:nth-child(1n+2) {
      display: none
    }
    .js .slider-single.slick-initialized>div:nth-child(1n+2) {
      display: block
    }
    .slider-img {
      position: relative !important;
    }
    .slider-nav .slick-slide {
      cursor: pointer;
    }
    .slick-slide {
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px; // remove the grey outline that appears when you click on a certain slide 
      outline: none;
      img {
        -webkit-filter: blur(3px);
        /* Safari 6.0 - 9.0 */
        filter: blur(3px);
      }
    }
    .slick-slide.is-active img {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none;
    }
    .slick-slide.is-active img~img {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none;
    } // arrows in slick
    .slick-prev:after {
      position: relative;
      top: -120px;
      // previous arrow
      content: url('{{site.baseurl}}/images/prev.png');
      font-size: 30px;
    }
    .slick-next:after {
      position: relative;
      top: -120px;
      // next arrow
      content: url('{{site.baseurl}}/images/next.png');
      font-size: 30px;
    }
  }

  .exchanges-head {
    margin-bottom: 30px;
  }

  // the resources page 
  .resources-container {
    margin-top: 50px;
  }
  // the image square
  .img-rect {
    background-size: cover !important;
    /* 50% 50% centers image in div */
    width: 37vw;
    height: 37vw;
     // fixed side to make sure that the columns will collapse on smaller screens
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
      width: 400px;
      height: 400px;
    }
  }
  // the post description 
  .text-rect {
    display: block;
    width: 37vw;
    height: 37vw;
    @media only screen and (max-width: 600px) {
      width: 400px;
      height: 400px;
    }
    a {
      color: white;
    }
    // common styles
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;

    // arrow style 
    .arrow {
      color: {{ site.data.colors.markers-color }};
      font-size: 3.5em;
      position: absolute;
      right: 4vw;
      bottom: 1vw;
    }
    .post-title {
      margin-top: 10vw;
    }
  }
  .odd{
    background: {{ site.data.colors.nav-buttons-primary }};
  }
  .even {
    text-align: right;
    background: {{ site.data.colors.active-button }};
    a {
      color: black;
    }
  }

  // the buttons for the blog post navigation
  .blog-main-nav {
    margin-bottom: 3vw;
    .angle {
      color: {{ site.data.colors.primary-grey }};
    }
  }
}

// the partners section
.floating-right {
  position: absolute;
  right: 2%;
  top: 40px;
  a {
    color: {{ site.data.colors.nav-buttons-primary }};
  }
  .arrow {
    color: {{ site.data.colors.active-button }};
  }
}
.partner-div {
  background-color: {{ site.data.colors.nav-buttons-primary }};
  margin-left: 5%;
  margin-bottom: 50px !important;
  width: 50%;
  // the logo
  .image {
    position: absolute;
    // display: inline-block;
    // vertical-align: middle;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 5%;
  }
}
.partner-div:after {
  content: "";
  display: block;
  padding-bottom: 120%;
}

// infinite scrolling spinner
.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0.0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

// the form styles 
.contact-form {
  margin-top: 4vw;
  input[type="text"],
  textarea {
    background-color: {{ site.data.colors.form-background }} !important;
    border-radius: 0 !important;
  }
  textarea:focus,
  input:focus {
    outline: none !important;
  }
  .button {
    background-color: {{ site.data.colors.active-button }} !important;
    color: black !important;
    font-size: 1.5em;
  }
}