---
---


/*!
  The main styles for the website
 */

// get the Noto Sans CJK SC font 
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

// universal settings
html {
  font-family: 'Noto Sans SC', sans-serif;
}


 body {
   background-color: #FFFFFF;
 }

.bg.blockstream-blue-light {
   background-color: #7EE0FF;
 }

 .txt.blockstream-blue-light {
   color: #7EE0FF;
 }

 .bg.blockstream-blue {
   background-color: #00CCFF;
 }

 .txt.blockstream-blue {
   color: #00CCFF;
 }

 .bg.blockstream-blue-dark {
   background-color: #002D3B;
 }

 .txt.blockstream-blue-dark {
   color: #002D3B;
 }

 .bg.blockstream-blue-med {
   background-color: #00789D;
 }

 .txt.blockstream-blue-med {
   color: #00789D;
 }

 .bg.blockstream-green {
   background-color: #00ffb3;
 }

 .txt.blockstream-green {
   color: #00ffb3;
 }

 .ui.fixed.inverted.menu {
   background-color: #002D3B !important;
 }

 .ui.inverted.blue.segment {
   background-color: #00789D !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.seablue.stripe.segment {
   background-color: #00CCFF !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.phosgreen.stripe.segment {
   background-color: #00ffb3 !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.ltblue.stripe.segment {
   background-color: #7EE0FF !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.drkblue.stripe.segment {
   background-color: #002D3B !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.blackish.stripe.segment {
   background-color: #00131a !important;
   color: #FFFFFF !important;
 }

 .ui.inverted.header {
   font-weight: 600;
 }

 .italic {
   color: #4C4C4C;
 }

 #next2 {
   display: block;
   position: absolute;
   width: 50px;
   height: 50px;
   top: 45%;
   right: 0;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   cursor: pointer;
   z-index: 1000;
 }

 #prev2 {
   display: block;
   position: absolute;
   width: 50px;
   height: 50px;
   top: 45%;
   left: 0;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   radius: 50%;
   cursor: pointer;
   z-index: 1000;
 }

 #slider {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
   margin: 0 auto;
 }

 #slider img.background {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   top: 50%;
   left: 50%;
   margin-right: -50%;
 }

 .hidden.menu {
   display: none;
 }

 .main.container {
   margin-top: 4.5em;
 }

 .main.menu {
   margin-top: 4em;
   border-radius: 0;
   border: none;
   box-shadow: none;
   transition: box-shadow 0.5s ease, padding 0.5s ease;
 }

 .main.menu .item img.logo {
   margin-right: 1.5em;
 }

 .overlay {
   float: left;
   margin: 0em 3em 1em 0em;
 }

 .overlay .menu {
   position: relative;
   left: 0;
   transition: left 0.5s ease;
 }

 .main.menu.fixed {
   background-color: #FFFFFF;
   border: 1px solid #DDD;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
 }

 .overlay.fixed .menu {
   left: 800px;
 }

 .ui.footer.segment {
   padding: 5em 0em;
 }

 .cards.container {
   margin-top: 4em;
 }

 .ui.tiny.image {
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   border-radius: 100%;
   border: 1px solid #00ffb3;
 }

 .ui.divider:not(.vertical):not(.horizontal) {
   border-top: 1px solid #00CCFF;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   width: 150px;
 }

 .ui.divider.short:not(.vertical):not(.horizontal) {
   border-top: 1px solid #00ffb3;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   width: 100px;
 }


/* 
 Mapbox styles
*/

// remove the mapbox attribution 
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}