---
---


/*!
  The main styles for the website
 */

// get the Noto Sans CJK SC font 
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

// universal settings
html {
  font-family: 'Noto Sans SC', sans-serif;
}


 body {
   background-color: {{ site.data.colors.primary-white }};
 }

.bg.blockstream-blue-light {
   background-color: #7EE0FF;
 }

 .txt.blockstream-blue-light {
   color: #7EE0FF;
 }

 .bg.blockstream-blue {
   background-color: #00CCFF;
 }

 .txt.blockstream-blue {
   color: #00CCFF;
 }

 .bg.blockstream-blue-dark {
   background-color: #002D3B;
 }

 .txt.blockstream-blue-dark {
   color: #002D3B;
 }

 .bg.blockstream-blue-med {
   background-color: #00789D;
 }

 .txt.blockstream-blue-med {
   color: #00789D;
 }

 .bg.blockstream-green {
   background-color: {{ site.data.colors.markers-color }};
 }

 .txt.blockstream-green {
   color: {{ site.data.colors.markers-color }};
 }

 .ui.fixed.inverted.menu {
   background-color: #002D3B !important;
 }

 .ui.inverted.blue.segment {
   background-color: #00789D !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.seablue.stripe.segment {
   background-color: #00CCFF !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.phosgreen.stripe.segment {
   background-color: {{ site.data.colors.markers-color }} !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.ltblue.stripe.segment {
   background-color: #7EE0FF !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.drkblue.stripe.segment {
   background-color: #002D3B !important;
   color: #FFFFFF !important;
 }

 .ui.vertical.blackish.stripe.segment {
   background-color: #00131a !important;
   color: #FFFFFF !important;
 }

 .ui.inverted.header {
   font-weight: 600;
 }

 .italic {
   color: #4C4C4C;
 }

 #next2 {
   display: block;
   position: absolute;
   width: 50px;
   height: 50px;
   top: 45%;
   right: 0;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   cursor: pointer;
   z-index: 1000;
 }

 #prev2 {
   display: block;
   position: absolute;
   width: 50px;
   height: 50px;
   top: 45%;
   left: 0;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   radius: 50%;
   cursor: pointer;
   z-index: 1000;
 }

 #slider {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
   margin: 0 auto;
 }

 #slider img.background {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   top: 50%;
   left: 50%;
   margin-right: -50%;
 }

 .hidden.menu {
   display: none;
 }

 .main.container {
   margin-top: 4.5em;
 }

 .main.menu {
   margin-top: 4em;
   border-radius: 0;
   border: none;
   box-shadow: none;
   transition: box-shadow 0.5s ease, padding 0.5s ease;
 }

 .main.menu .item img.logo {
   margin-right: 1.5em;
 }

 .overlay {
   float: left;
   margin: 0em 3em 1em 0em;
 }

 .overlay .menu {
   position: relative;
   left: 0;
   transition: left 0.5s ease;
 }

 .main.menu.fixed {
   background-color: #FFFFFF;
   border: 1px solid #DDD;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
 }

 .overlay.fixed .menu {
   left: 800px;
 }

 .ui.footer.segment {
   padding: 5em 0em;
 }

 .cards.container {
   margin-top: 4em;
 }

 .ui.tiny.image {
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   border-radius: 100%;
   border: 1px solid {{ site.data.colors.markers-color }};
 }

 .ui.divider:not(.vertical):not(.horizontal) {
   border-top: 1px solid #00CCFF;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   width: 150px;
 }

 .ui.divider.short:not(.vertical):not(.horizontal) {
   border-top: 1px solid {{ site.data.colors.markers-color }};
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   width: 100px;
 }


/* 
 Mapbox styles
*/

#map {
  position: relative;
  width: 100%;
  height: 600px;
  top: 20px;
}

// remove the mapbox attribution 
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

// marker styles 
.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

// pop-up style
// the entire popup
.mapboxgl-popup {
  // border: 1px solid yellow;
  // border-radius: 0 !important;
}
// the content 
.mapboxgl-popup-content {
  border-radius: 0 !important;
  min-width: 11vw;
  min-height: 11vw;
  font-size: 1em;
  background-color: #00C0EC !important;
  // border: 1px solid red;
  .exchange-logo {
    max-width: 100px;
  }
  .exchange-country {
    text-transform: uppercase;
    opacity: 0.7;
  }
}

// The tip of the pop-up message
.mapboxgl-popup-tip {

  border-top-color: #00C0EC !important;
  margin-bottom: -15px;
  
  // border-bottom-color: #00C0EC !important;
  // border-left-color: #00C0EC !important;
  // border-right-color: #00C0EC !important;
}

// top logo for powered by 
.top-logo {
  position: absolute;
  top: 100px;
  left: 13vw;
  max-width: 15em;
}

// the call to action text 
.callToAction {
  position: relative;
  bottom: 100px;
  a {
    color: white;
  }
}

// style the buttons beneath the map 
.cryptocurrencyButtons {
  position: relative;
  bottom: 80px;
  // Style the radio button 
  .ui.radio.checkbox input:checked~.box:after,
  .ui.radio.checkbox input:checked~label:after {
    background-color: {{ site.data.colors.markers-color }} !important;
  }

  // style the dimensions of the radio button 
  .ui.radio.checkbox .box:after,
  .ui.radio.checkbox label:after {
    top: -14px;
    left: -16px;
    width: 45px;
    height: 45px;
  }
  // style the labels
  label {
    color: rgba(255, 255, 255, 0.534) !important;
  }

  // each currency name label
  .currencyLabel {
    font-size: 1.3em !important;
    margin-left: 50px;
  }

  // position the label before the input 
  .ui.radio.checkbox label {
    padding-left: 0;
    padding-right: 1.5em;
  }

  .ui.checkbox input,
  .ui.radio.checkbox label:before {
    left: auto;
    right: 0;
  }

  .ui.radio.checkbox label:after {
    left: auto;
    right: 1.2em;
    // transition: background 0.3s ease 0s, all 0.3s ease 0s;
  }

  .ui.radio.checkbox input:checked+label:after {
    left: auto;
    right: -1em;
    // transition: background 0.3s ease 0s, all 0.3s ease 0s;
  }
}

// Page transitions' animations (to load a new page without reloading the tab)
@keyframes slideInUp {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

// apply the animation to the content wrapper 
#content-wrapper {
  animation-duration: .38s;
  animation-fill-mode: both;
  animation-name: slideInUp;
}


// about.html styles
// navigation buttons (about, resources, exchanges)
#default-page {
  margin-top: 40px;
  .buttons {
    border-bottom: 6px solid {{ site.data.colors.active-button }};
  }
  .button {
    // to have sharp edges matching the designs
    border-radius: 0 !important;
    // to have this white left border shown in designs 
    border-left: 2px solid {{ site.data.colors.primary-white }};
    // default button color
    background: {{ site.data.colors.nav-buttons-primary }};
    // button's text color 
    color: {{ site.data.colors.primary-white }};
  }

  // to avoid having a white border-left for the first button in the nav buttons group 
  .first {
    border-left: 0px;
  }
  
  .active {
    background: {{ site.data.colors.active-button }};
    color: {{ site.data.colors.nav-buttons-primary }};
  }
}


