---
---


/*!
  The main styles for the website
 */

// get the Noto Sans CJK SC font 
@import url('{{site.siteurl}}{{site.baseurl}}/css/notosanssc.css');

// universal settings
 body {
   font-family: 'Helvetica,Arial,sans-serif',
   sans-serif !important;
   background-color: {{ site.data.colors.primary-white }};
 }

 .ui.fixed.inverted.menu {
   background-color: #002D3B !important;
 }

 .ui.header {
  font-family: 'Helvetica,Arial,sans-serif', sans-serif !important;
 }

 .ui.inverted.blue.segment {
   background-color: #00789D !important;
   color: #FFFFFF !important;
 }

 .ui.inverted.header {
   font-weight: 600;
   padding-bottom: 5px;
 }


 .hidden.menu {
   display: none;
 }

 .main.container {
   margin-top: 4.5em;
 }

 .main.menu {
   margin-top: 4em;
   border-radius: 0;
   border: none;
   box-shadow: none;
   transition: box-shadow 0.5s ease, padding 0.5s ease;
 }

 .main.menu .item img.logo {
   margin-right: 1.5em;
 }

 .main.menu.fixed {
   background-color: #FFFFFF;
   border: 1px solid #DDD;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
 }

 .overlay.fixed .menu {
   left: 800px;
 }

 .ui.footer.segment {
   padding: 5em 0em;
 }

.column, .column p {
   font-size: 1.5rem;
 }

 .column {
   line-height: 1.4;
 }

 .jscroll-loading {
   display: none;
 }

 .ui.form .field>label {
  font-size: 1.2em;
 }


/* 
 Mapbox styles
*/

#map {
  position: relative;
  width: 100%;
  height: 700px;
  top: 20px;
}

.masthead.segment {
  padding: 0em;
}

// styling the markers for the map
 .ui.tiny.image {
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   border-radius: 100%;
   border: 1px solid {{ site.data.colors.markers-color }};
 }

// remove the mapbox attribution 
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

// pop-up style
// the content 
.mapboxgl-popup-content {
  border-radius: 10px !important;
  z-index: 10;
  min-width: 11vw;
  min-height: 11vw;
  font-size: 1em;
  border: 2px solid white;
  padding: 20px!important;
  background-color: #012e3b !important;
  .exchange-logo {
    max-width: 100px;
  }
  .exchange-country {
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.9;
    margin-top: -10px;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .trading {
    text-transform: uppercase;
    font-weight: 100;
    opacity: 0.9;
    margin-top: -10px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
  }

  @media only screen and (min-width: 1500px) {
   min-width: 150px;
   min-height: 150px;
  }
}

// The tip of the pop-up message
.mapboxgl-popup-tip {
  border: none !important;
  margin-bottom: 20px;
}

.pop-title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  color: #00ccff;
  margin-bottom: 10px;
}

.exchange-container {
  width: 150px;
  padding-top: 10px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 5px;
}

.exchange-number {
  font-size: 3.5rem;
  color: white;
  font-weight: 500;
  width: 50px;
  text-align: center;
  float: left;
  padding-top: 8px;
}

.exch-right-col {
  width: 110px;
  float: right;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2;
  padding-left: 3px;

  .part-one {
    font-weight: 200;
  }
  .part-two {
    font-weight: 500;
  }
}

.vol {
  display: block;
  height: 30px;
  margin-bottom: 5px;
  max-width: 156px;
  margin-left: auto;
  margin-right: auto;

  .num {
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
    padding-right: 5px;
    text-align: center;
    float: left;
    padding-top: 3.45px;
    margin-left: -8px;
  }
}

.vol-copy {
  font-size: 1.15rem;
  color: white;
  font-weight: 200;
  width: 107px;
  text-align: center;
  float: right;
  padding-top: 4px;
  text-transform: uppercase;
  display: inline-flex;
}

.vol-bold {
  width: 42px;
  font-weight: 500;
}

// to make that green tooltip
 /*.mapboxgl-popup-tip:after {
  content: "";
  display: block;
  width: 7vw;
  height: 25px;
  position: relative;
  z-index: -99999;
  left: -3.5vw;
  top: -4px;
  border: 2px solid {{ site.data.colors.markers-color }};

  // for larger screens
  @media only screen and (min-width: 1500px) {
    width: 90px;
    left: -45px;
  }
} */

.small-circle:after {
  border-color: #77E2FC;
}
.medium-circle:after {
  border-color: #007999;
}
.large-circle:after {
  border-color: #00ffb3;
}

// map's legend 
.legend {
  position: absolute;
  top: 80px;
  right: 30px;
  z-index: 1;
  width: 190px;
  background-color: #00000052;
  border-radius: 10px;
  padding: 20px;
  //  for the legend's header
   .legend-header {
    font-size: 1.3em !important;
    text-transform: uppercase;
    margin-bottom: -0.1em;
    margin-top:0px!important;
   }
  span {
    color: white;
    margin-right: 20px;
    font-weight: 200;
    font-size: 13px;
  }
  .circle {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}

@media (max-width:515px){
  .legend {
    position: absolute;
    top: 420px;
    right: 5%;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
  }
  

  .legend-header {
    width:42%;
    float:left;
  }

  .legend-row {
    width:50%;
    float: right;
  }
  
}


// top logo for powered by 
.top-logo {
  position: absolute;
  top: 100px;
  left: 13vw;
  max-width: 15em;
}

// the call to action text 
.callToAction {
  position: relative;
  bottom: 130px;
 
  @media only screen and (max-width: 991px) {
    bottom: 150px;
  }
}

.map-lower-title {
  color: white;
    font-size: 1.8rem;
    width: 340px;
    margin: 0 auto;
    height: 77px;
  }

  .f-numbered {
    float: left;
    font-size: 8rem;
    padding-top: 16px;
  }

  .m-title-right-col  {
    width: 200px;
    float: right;
    text-transform: uppercase;
    padding-top: 18px;
  }

  .m-title-bottom {
    width: 168px;
    padding-top: 5px;
  }

  .ui.header {
    margin-top:0px;
  }

// the cryptocurrency lable 
.crypto-lable {
  color: white;
  opacity: 0.8;
  position: absolute;
  left: 20px;
  font-size: 0.9em;
  // make sure it shows only on computers 
   @media only screen and (max-width: 991px) {
     display: none;
   }
}



// style the buttons beneath the map 
.cryptocurrencyButtons {

  // make sure it shows only on computers 
  @media only screen and (max-width: 991px) {
    display: none;
  }

  position: relative;
  bottom: 60px;
 
  // all the fields on the map (for the radio buttons)
  .fields {
    // make sure the mouse is pointer
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  // each radio button container -- for the map
  .field {
    height: 50px;
    // center the image and button 
    .checkbox {
      padding-left: 35%;
    }
    img {
      max-width: 30px;
    }
  }

  // to style the radio buttons' fields backgrounds 
  .field:nth-child(odd) {
    background-color: {{ site.data.colors.primary-grey }};
  }

  .field:nth-child(even) {
    background-color: {{ site.data.colors.light-grey }};
  }

  // Style the radio buttons
  .ui.radio.checkbox input:checked~.box:after,
  .ui.radio.checkbox input:checked~label:after {
    background-color: {{ site.data.colors.markers-color }} !important;
    z-index: 9999;
  }
  .ui.checkbox .box:before,
  .ui.checkbox label:before {
    background: {{ site.data.colors.deselected-radio }};
    border: none;
    top: 8px !important;
    width: 15px;
    height: 15px;
  }
  .ui.checkbox input:checked~.box:before,
  .ui.checkbox input:checked~label:before {
    background: transparent;
    border: none;
  }
  .ui.radio.checkbox input:checked~.box:before,
  .ui.radio.checkbox input:checked~label:before {
    background-color: transparent;
  }
  
  // style the dimensions of the radio button 
  .ui.radio.checkbox .box:after,
  .ui.radio.checkbox label:after {
    top: 0px;
    width: 30px;
    height: 30px;
  }
 
  // position the label before the input 
  .ui.radio.checkbox label {
    padding-left: 0;
    padding-right: 51px;
  }
  .ui.checkbox input,
  .ui.radio.checkbox label:before {
    left: auto;
    top: 0;
    right: -2px;
  }
  .ui.radio.checkbox label:after {
    left: auto;
    right: 20px;
  }
  .ui.radio.checkbox input:checked+label:after {
    left: auto;
    right: -10px;
  }
}





// the styles for the dropdown menu 
.dropdown-form {
  background-color: #181818;
  position: relative;
  top: 3vw;
  color: white;

  .default.text,
  .ui.form .field>.selection.dropdown {
    color: white !important;
  }
  

  .form {
    width: 50%;
  }

  .selection.dropdown {
    background-color: transparent;
    text-align: center;
    font-size: 1.5em;
    min-width: 10em;
    outline: none;
  }

  .dropdown.icon {
    color: {{ site.data.colors.markers-color }};
    float: left !important;
    text-align: left;
  }

}

// Page transitions' animations (to load a new page without reloading the tab)
@keyframes slideInUp {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

// apply the animation to the content wrapper 
#content-wrapper {
  animation-duration: .38s;
  animation-fill-mode: both;
  animation-name: slideInUp;
}

// all default pages
// navigation buttons (about, resources, exchanges)
#default-page {
  .header {
     color: {{ site.data.colors.nav-buttons-primary }};
   }
  margin-top: 100px;
  .buttons {
    border-bottom: 6px solid {{ site.data.colors.active-button }};
  }
  .button {
    // to have sharp edges matching the designs
    border-radius: 0 !important;
    // to have this white left border shown in designs 
    border-left: 2px solid {{ site.data.colors.primary-white }};
    // default button color
    background: {{ site.data.colors.nav-buttons-primary }};
    // button's text color 
    color: {{ site.data.colors.primary-white }};
  }

  // to avoid having a white border-left for the first button in the nav buttons group 
  .first {
    border-left: 0px;
  }
  
  .active {
    background: {{ site.data.colors.active-button }};
    color: {{ site.data.colors.nav-buttons-primary }};
  }

  // about page 
  .column {
    padding-bottom: 0;
    
  }
  .grid {
    margin-bottom: 10px;
  }
  .about-data {
    img {
      margin-top: 10px;
    }
    a {
      color: {{ site.data.colors.active-button }};
      padding-bottom: 1px;
      border-bottom: 1px solid {{ site.data.colors.active-button }};
    }
  }

  // why blocksream and ice?
  .divider {
    width: 100%;
    margin-top: 1px;
    color: {{ site.data.colors.active-button }};
    border-bottom: 2px solid {{ site.data.colors.active-button }};
  }

  .why-blockstream {
    img {
      margin-bottom: 30px;
      max-height: 95px;
    }
  }

  // the testimonials section 
  .testimonials-slider {
    color: {{ site.data.colors.nav-buttons-primary}};
    q {
      quotes: '\201c' '\201d';
      font-size: 1.7em;
      line-height: 1.3em;
    }
    footer {
      font-size: 1.2em;
      font-weight: bold;
    }

    q:before {
      content: open-quote;
    }

    q:after {
      content: close-quote;
    }

    .js .slider-single>div:nth-child(1n+2) {
      display: none
    }
    .slider-nav>div:nth-child(1n+2) {
      display: none
    }
    .js .slider-single.slick-initialized>div:nth-child(1n+2) {
      display: block
    }
    .slider-img {
      position: relative !important;
    }
    .slider-nav .slick-slide {
      cursor: pointer;
    }
    .slick-slide {
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px; 
      img {
        -webkit-filter: blur(3px);
        /* Safari 6.0 - 9.0 */
        filter: blur(3px);
      }
    }
    .slick-slide.is-active img {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none;
    }
    .slick-slide.is-active img~img {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none;
    } 
  }

  // arrows in slick
  .slick-prev:after {
    position: relative;
    top: -120px; // previous arrow
    content: url('{{site.baseurl}}/images/prev.png');
    font-size: 30px;
  }

  .slick-next:after {
    position: relative;
    top: -120px; // next arrow
    content: url('{{site.baseurl}}/images/next.png');
    font-size: 30px;
  }

  .exchanges-head {
    margin-bottom: 30px;
  }

  // the resources page 
  .post-category {
    font-weight:700;
  }
  .resources-container {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  // the image square
  .img-rect {
    background-size: cover !important;
    width: 37vw;
    height: 37vw;
    // fixed side to make sure that the columns will collapse on smaller screens
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
      width: 400px;
      height: 400px;
    }
  }
  // the post description 
  .text-rect {
    display: block;
    width: 37vw;
    height: 37vw;
    @media only screen and (max-width: 600px) {
      width: 400px;
      height: 400px;
    }
    a {
      color: white;
    }

    .post-description {
      font-weight:100;
    }
    // common styles
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;

    // arrow style 
    .arrow {
      color: {{ site.data.colors.markers-color }};
      font-size: 3em;
      position: absolute;
      right: 4vw;
      bottom: 3vw;
    }
  }


  .odd{
    background: {{ site.data.colors.nav-buttons-primary }};
  }
  .even {
    text-align: right;
    background: {{ site.data.colors.active-button }};
    a {
      color: black;
    }
  }

  // the buttons for the blog post navigation
  .blog-main-nav {
    margin-bottom: 3vw;
    .angle {
      color: {{ site.data.colors.primary-grey }};
    }
  }
}

// the form styles 
.contact-form {
  margin-top: 4vw;
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: {{ site.data.colors.form-background }} !important;
    border-radius: 0 !important;
  }
  textarea:focus,
  input:focus {
    outline: none !important;
  }
  .button {
    background-color: {{ site.data.colors.active-button }} !important;
    color: black !important;
    font-size: 1.5em;
  }
}

// the partners section
.floating-right {
  position: absolute;
  right: 2%;
  top: 40px;
  a {
    color: {{ site.data.colors.nav-buttons-primary }};
  }
  .arrow {
    color: {{ site.data.colors.active-button }};
  }
}
.partners-slider {
  // the slider arrows 
  .slick-prev:after {
    top: -42px !important; // previous arrow
  }
  .slick-prev {
    left: -50px;
  }

  .slick-next:after {
    top: -42px !important;
    margin-left: 13px;
  }

  .partner-div {
    background-color: {{ site.data.colors.nav-buttons-primary }};
    margin-bottom: 10px;
  }
  .slick-slide {
    margin-right: 7.5px;
    margin-left: 7.5px;
  }
}

.slick-slide {
  // remove the grey outline that appears when you click on a certain slide 
  outline: none;
}

.ui.message:first-child {
  margin-top: 13px;
}

// add a top margin to the nav buttons 
#nav-buttons {
  margin-top: 30px;
}