---
layout: page
---

<!-- the about section -->
<!-- About cryptocurrency data feed -->
{% include about-view/about-data-feed.html %}
<!-- Partners Header-->
{% include about-view/partners.html %}
<!-- Partners Slider -->
{% include shared-views/partners-slider.html %}
<!-- Why Blockstream + ICE? -->
{% include about-view/why-blockstream.html %}
<!-- Testimonials Slider -->
{% comment %}
{% include about-view/testimonials.html %}
{% endcomment %}

<!-- The join us section -->
{% include join-us-view/join_us_title.html %}
{% include join-us-view/form.html %}

<!-- Resources section -->
{% include resources.html %}