<div class="ui vertical masthead aligned segment" id="about">
    <div class="ui one column centered grid">
      <div class="twelve wide column">
        <!-- the navigation buttons -->
          <div class="three ui buttons">
            <a class="ui large button  first active" href="index.html">About</a>
            <a href="resources.html" class="ui large button">Resources</a>
            <a href="exchanges.html" class="ui large button">Exchanges</a>
          </div>
        <!-- //end of navigation buttons -->
        <!-- About content -->
          <div>
            <h2 class="ui header center aligned">
               About content
            </h2>
          </div>
        <!-- //end of about content -->
      </div>
    </div>
</div>