<div class="ui vertical masthead aligned segment" id="home-banner">
  <div class="ui wide">
    <!-- map section -->
    <div id='map'></div>
    <!-- the logo on the top left corner -->
    <img class="top-logo" src="images/top-logo.png">
  </div>
</div>


<!-- map buttons section -->
<div class="ui segment">
  <div class="container">
    <div class="ui form">
      <form action="" class="inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <label>Bitcoin</label>
            <input type="radio" name="currency" checked="checked" value="bitcoin" onChange="changeCurrency()">
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <label>Ethereum</label>
            <input type="radio" name="currency" value="ethereum" onChange="changeCurrency()">
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <label>Litecoin</label>
            <input type="radio" name="currency" value="litecoin" onChange="changeCurrency()">
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <label>Dash</label>
            <input type="radio" name="currency" value="dash" onChange="changeCurrency()">
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <label>Ripple</label>
            <input type="radio" name="currency" value="ripple" onChange="changeCurrency()">
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <label>Bitcoin Cash</label>
            <input type="radio" name="currency" value="bitcoinCash" onChange="changeCurrency()">
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>