<div class="ui vertical masthead aligned segment" id="home-banner">
  <div class="ui wide">
    <div id='map'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiYW1yc2VraWxseSIsImEiOiJjamVzbWwxeTc3MWV6MzNvMTA4NnE1cGRqIn0.gduDJTnrg9nbXGLe0GSiIw';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/amrsekilly/cjesn29l429772rphyzf63dbk'
      });

      // add the map controls 
      map.addControl(new mapboxgl.NavigationControl(), 'top-left');
    </script>
  </div>
</div>