<div class="ui stackable grid about-data why-blockstream">

  <div class="sixteen wide column">
    <h2 class="ui header">
      Why Blockstream + ICE?
    </h2>
    <div class="ui section divider"></div>
  </div>


    <div class="eight wide column">
      <img src="./images/blockstream-logo.png" class="ui centered image" alt="blockstream logo">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et ultrices odio. Aenean gravida felis a dui lobortis, non
      maximus justo commodo. Vestibulum eleifend rhoncus mi et cursus.Aenean gravida felis a dui lobortis, non maximus justo commodo.
      Vestibulum eleifend rhoncus mi et cursus.Aenean gravida felis a dui lobortis, non maximus justo commodo. Vestibulum eleifend
      rhoncus mi et cursus.
    </div>

    <div class="eight wide column">
      <img src="./images/iceLogo.png" class="ui centered image" alt="Ice logo">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et ultrices odio. Aenean gravida felis a dui lobortis, non
      maximus justo commodo. Vestibulum eleifend rhoncus mi et cursus.Aenean gravida felis a dui lobortis, non maximus justo commodo.
      Vestibulum eleifend rhoncus mi et cursus.Aenean gravida felis a dui lobortis, non maximus justo commodo. Vestibulum eleifend
      rhoncus mi et cursus.
    </div>

  
</div>