<div class="ui stackable grid about-data">

  <div class="sixteen wide column">
    <h2 class="ui header">
      Why Blockstream + ICE?
    </h2>
    <div class="ui section divider"></div>
  </div>


    <div class="eight wide column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem suscipit a dolor fugit. Voluptas iusto veniam possimus obcaecati nostrum maiores delectus explicabo quos, blanditiis, rerum assumenda distinctio adipisci rem ex!
    </div>
    <div class="eight wide column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem suscipit a dolor fugit. Voluptas iusto veniam possimus
      obcaecati nostrum maiores delectus explicabo quos, blanditiis, rerum assumenda distinctio adipisci rem ex!
    </div>

  
</div>