<footer class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height grid">
      <div class="six wide column">
        <h4 class="ui inverted" style="padding-left: 0; font-size: 1.35em;">
          <img class="brand-logo left" src="{{site.baseurl}}/images/blockstream-emblem.png" style="float:left; margin-right: 0.5em; width:3em;" />
          <img class="brand-name" src="{{site.baseurl}}/images/blockstream.png" />
        </h4>
        <div class="ui inverted link list">
          <!-- <a href="/2016/07/19/blockstream-defensive-patent-strategy/" class="item">Patents</a> -->
        </div>
      </div>
      <div class="three wide column">
        <h3 class="ui inverted header">
          <a href="/technology">Technology</a>
        </h3>
        <div class="ui inverted link list">
          <a href="/technology#sidechains" class="item">Sidechains</a>
          <a href="/technology#elements" class="item">Elements</a>
          <a href="/technology/sidechains.pdf" class="item">Whitepaper</a>
        </div>
      </div>
      <div class="three wide column">
        <h3 class="ui inverted header">
          <a href="/about">About</a>
        </h3>
        <div class="ui inverted link list">
          <a href="/blog" class="item">Blog</a>
          <a href="/careers" class="item">Careers</a>
          <a href="/puzzles/half-of-a-puzzle" class="item">Puzzles</a>
        </div>
      </div>
      <div class="four wide column">
        <h3 class="ui inverted header">
          <a href="/">Follow Us</a>
        </h3>
        <div class="ui inverted link list">
          <a href="https://twitter.com/blockstream" title="@blockstream on Twitter">
            <i class="twitter icon"></i>
          </a>
          <a href="https://www.linkedin.com/company/3998145" title="Blockstream on LinkedIn">
            <i class="linkedin icon"></i>
          </a>
          <a href="https://www.facebook.com/Blockstream/" title="Blockstream on Facebook">
            <i class="facebook icon"></i>
          </a>
          <a href="https://github.com/blockstream" title="Blockstream on GitHub">
            <i class="github icon"></i>
          </a>
          <a class="item" style="margin-top: 0.25em;" href="mailto:inquiries@blockstream.com">
            <i class="mail icon"></i>
            Inquiries</a>
          <a class="item" href="mailto:press@blockstream.com">
            <i class="mail icon"></i> Press</a>
          <!-- <a class="item" href="/terms">Terms and Conditions</a>
          <a class="item" href="/privacy">Privacy Policy</a> -->
        </div>
      </div>
    </div>
  </div>

  <div style="color: rgba(255,255,255,0.5); padding-top: 2em;">
    <small>
      <center>
        &copy; 2018 Blockstream, Inc. &mdash;
        <a style="color: rgba(255,255,255,0.5) !important; text-decoration: underline" href="/privacy/">Privacy Policy</a>,
        <a style="color: rgba(255,255,255,0.5) !important; text-decoration: underline" href="/terms/">Terms of Use</a>
      </center>
    </small>
  </div>
</footer>