<div class="ui vertical masthead aligned segment" id="home-banner">
  <div class="ui wide" style="margin-bottom: -95px;">
    <!-- map section -->
    <div id='map'></div>
    <!-- the legend -->
    <div id="legend" class="legend"></div>
    <!-- the logo on the top left corner -->
    <img class="top-logo" src="{{ site.baseurl }}/images/top-logo.png">
    <!-- call to action text -->
    <h3 class="ui center aligned header inverted callToAction"><a href="https://google.com">Click to see more information about participating cryptocurrency exchanges</a></h3>
    <!-- map buttons section -->
    <div class="ui form inverted stackable center aligned grid cryptocurrencyButtons">
      <form action="" style="width:100%;">
        <div class="form sixteen wide column">
          <div class="inline fields">
            <label class="main-currency-lable">Cryptocurrency</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" checked="checked" value="bitcoin" onChange="changeCurrency()" />
                <label class="currencyLabel">Bitcoin</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="ethereum" onChange="changeCurrency()" />
                <label class="currencyLabel">Ethereum</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="litecoin" onChange="changeCurrency()" />
                <label class="currencyLabel">Litecoin</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="dash" onChange="changeCurrency()" />
                <label class="currencyLabel">Dash</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="ripple" onChange="changeCurrency()" />
                <label class="currencyLabel">Ripple</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="bitcoinCash" onChange="changeCurrency()" />
                <label class="currencyLabel">Bitcoin Cash</label>
              </div>
            </div>
          </div>
        </div>
        

        <div class=" column form fiat-currency-container">
          <div class="inline fields">
            <label class="main-currency-lable">Fiat Currency</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="usdt" onChange="changeCurrency()" />
                <label class="currencyLabel">USDT</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="usd" onChange="changeCurrency()" />
                <label class="currencyLabel">USD</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="eur" onChange="changeCurrency()" />
                <label class="currencyLabel">EUR</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="jpy" onChange="changeCurrency()" />
                <label class="currencyLabel">JPY</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="currency" value="gbp" onChange="changeCurrency()" />
                <label class="currencyLabel">GBP</label>
              </div>
            </div>
          </div>
        </div>
          



      </form>
    </div>

  </div>
  </div>

