<div class="ui vertical masthead aligned segment" id="home-banner">
  <div class="ui wide" style="margin-bottom: -95px;">
    <!-- map section -->
    <div id='map'></div>
    <!-- the legend -->
    <div id="legend" class="legend">
      <p class="ui centered inverted header legend-header">24 HR AVG VOLUME</p>
    </div>
    <!-- the logo on the top left corner -->
    <!--<img class="top-logo" src="{{ site.baseurl }}/images/top-logo.png"> -->
    <div class="top-logo">Cryptocurrency Data Feed </br>
    <div class="powered-by">POWERED BY BLOCKSTREAM</div></div>
    <!-- call to action text -->
    <h3 class="ui center aligned header inverted callToAction">
    <span class="crypto-lable"></span>

<div class="map-lower-title">
  <div class="f-numbered odometer animated fadeIn" id="odometer"></div>
  <div class="m-title-right-col">participating
    <div class="m-title-bottom"> exchanges </div>
  </div>
</div>
</h3>
  </div>
</div>

