<div class="ui vertical masthead aligned segment" id="home-banner">
  <style type="text/css">
    
  </style>
  <div class="ui wide" style="margin-bottom: -95px;">
    <div id="loading_screen">
        <div id="loader">
            <!-- <img src="images/loading.gif" height=100 width=100> -->
            
              <div class="load-6">
                  
                  <div class="letter-holder">
                      <div class="l-1 letter">L</div>
                      <div class="l-2 letter">o</div>
                      <div class="l-3 letter">a</div>
                      <div class="l-4 letter">d</div>
                      <div class="l-5 letter">i</div>
                      <div class="l-6 letter">n</div>
                      <div class="l-7 letter">g</div>
                      <div class="l-8 letter">.</div>
                      <div class="l-9 letter">.</div>
                      <div class="l-10 letter">.</div>
                  </div>
              </div>
           
        </div>
    </div>

    <!-- map section -->
    <div id='map'></div>
    <!-- the legend -->
    <div id="legend" class="legend">
      <p class="ui centered inverted header legend-header">24 HOUR AVG VOLUME</p>
    </div>
    <!-- the logo on the top left corner -->
    <!--<img class="top-logo" src="{{ site.baseurl }}/images/top-logo.png"> -->
    <div class="top-logo">Cryptocurrency Data Feed </br>
    <div class="powered-by">POWERED BY BLOCKSTREAM</div></div>
    <!-- call to action text -->
    <h3 class="ui center aligned header inverted callToAction">
    <span class="crypto-lable"></span>

<div class="map-lower-title">
  <div class="f-numbered">25+</div>
  <!-- <div class="f-numbered odometer animated fadeIn" id="odometer"></div> -->
  <div class="m-title-right-col">participating
    <div class="m-title-bottom"> exchanges </div>
  </div>
</div>
</h3>
  </div>
</div>

