<!-- displays the partners slider -->
<div class="ui stackable grid">
  <div class="fourteen wide centered column slider partners-slider">
    <!-- the partners list -->
    {% for partner in site.partners %}
      <div class="column partner-div">
        <img src="{{ partner.logo }}" alt="{{ partner.name }}" class="ui large image">
      </div>
    {% endfor %}

    <!-- to make sure that there's no empty slide in case of odd partners -->
    {% assign value = site.partners.size | modulo:2 %}
    {% if value != 0 %}
      {% for partner in partners | limit:1 %}
        <div class="column partner-div">
          <img src="{{ partner.logo }}" alt="{{ partner.name }}" class="ui large image">
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
<div class="asterick">**Inclusion of a cryptoasset's data in the feed does not indicate a recommendation of that asset by Blockstream. Investors should perform their own due diligence.
</div>


<script>
  $(document).ready(function () {

    // the slider 
    $('.partners-slider')
      .slick({
        slidesToShow: 4,
        rows: 2,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 5000,
        speed: 1000,
        centerMode: false,
        centerPadding: 0,
        responsive: [{
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            rows: 2,
          }
        }, {
          breakpoint: 640,
          settings: {
            slidesToShow: 2,
            rows: 2,
          }
        }, {
          breakpoint: 420,
          settings: {
            slidesToShow: 1,
            rows: 2,
          }
        }]
      });

      // scroll all columns each time.
    $('.partners-slider').slick('slickSetOption', 'slidesToScroll', 4, true);
  
  });
</script>