---
layout: default
---

<div class="ui vertical masthead aligned segment" id="default-page">
  <div class="ui one column centered grid">
    <div class="fifteen wide tablet twelve wide computer column">
      <!-- the navigation buttons -->
      <div class="three ui buttons" id="nav-buttons">
        <a class="ui large button first page-link" href="{{site.siteurl}}{{ site.baseurl }}/" title="{{site.title}}">About</a>
        <a href="{{site.siteurl}}{{ site.baseurl }}/blog/" class="ui large button page-link" title="{{site.title}}">Resources</a>
        <a href="{{site.siteurl}}{{ site.baseurl }}/exchanges.html" class="ui large button page-link" title="{{site.title}}">Exchanges</a>
      </div>
      <!-- //end of navigation buttons -->
      <!-- Page Content -->
      <div id="content-wrapper">
        {{content}}
      </div>
      <!-- //end of page content -->
    </div>
  </div>
</div>
