<div class="ui stackable grid testimonials-slider exchanges-head">

  <div class="sixteen wide column">

    <h2 class="ui header">
      Exchanges
    </h2>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, aperiam. Labore repudiandae fugiat voluptatibus explicabo accusamus similique, consequuntur obcaecati neque vel, dicta perferendis eveniet cum. Sunt omnis asperiores corporis inventore? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis est alias praesentium ea quas dolore qui quisquam. Quaerat nesciunt et, iste quia omnis numquam, quam veritatis provident mollitia ut earum!
    </p>

  </div>

</div>