<div class="ui section divider"></div>
<h2 class="ui header">Join the strong and growing list of contributing exchanges</h2>

<div class="ui equal width form">
  <div class="fields">
    <div class="field">
      <label>First Name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" placeholder="Last Name">
    </div>
  </div>

  <div class="fields">
    <div class="field">
      <label>Exchange Name</label>
      <input type="text" placeholder="Exchange Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" placeholder="Email">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Link to your API</label>
      <input type="text" placeholder="Link to your API">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Custom Message</label>
      <textarea rows="2" placeholder="Custom Message"></textarea>
    </div>
  </div>

  <button class="fluid ui button">Contact Us</button>
</div>