

<form id="contact-form-main-id" class="ui equal width form contact-form"
 action="https://blockstream.us15.list-manage.com/subscribe/post" method="POST">

<input type="hidden" name="u" value="0754bc253ff6f27aa96c5c48f">
<input type="hidden" name="id" value="e420000e1b">
 
  <div class="fields">
    <div class="field">
      <label>First Name</label>
      <input type="text"
       name="MERGE1" id="MERGE1" 
       placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" 
       name="MERGE2" id="MERGE2" 
       placeholder="Last Name">
    </div>
  </div>

  <div class="fields">
    <div class="field">
      <label>Exchange Name</label>
      <input type="text" 
       name="MERGE5" id="MERGE5"
       placeholder="Exchange Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email"
       autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0"
        placeholder="Email">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Link to your API</label>
      <input type="text"
       name="MERGE3" id="MERGE3"
       placeholder="Link to your API">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Custom Message</label>
      <textarea rows="2" 
       name="MERGE4" id="MERGE4"
       placeholder="Custom Message"></textarea>
    </div>
  </div>

  <button type="submit" name="submit" id="submit-button" class="fluid ui button">Contact Us</button>
  
</form>

<div id="form-message"></div>


<script>
 $('#contact-form-main-id').submit(function (e) {
          var $this = $(this);
          $.ajax({
            type: "POST", // GET & url for json slightly different
            url: "https://blockstream.us15.list-manage2.com/subscribe/post-json?c=?",
            data: $this.serialize(),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            error: function (err) { alert("Could not connect to the registration server."); },
            success: function (data) {
              if (data.result != "success") {
                // Something went wrong, parse data.msg string and display message
                // console.log("Something went wrong!!", data.msg);
                // error message 
                let error_msg = "";
                if(!$("#MERGE1").val().length) {
                  error_msg = "Enter a Valid First Name, please!";
                }
                else if(!$("#MERGE2").val().length) {
                  error_msg = "Enter a Valid Last Name, please!";
                }
                else if (!$("#MERGE5").val().length) {
                  error_msg = "Enter a Valid Exchange Name, please!";
                }
                else if (!$("#MERGE0").val().length) {
                  error_msg = "Enter a Valid Email, please!";
                } else error_msg = "";
                //  show the error message
                $("#form-message").html(`
                <div class="ui error message form-error">
                  Error Submitting The Form: ${error_msg || data.msg}
                </div>`);
                // clear the error variable
                error_msg = "";
               
              } else {
                // It worked, so hide form and display thank-you message.
                console.log("Success!!");
                // hide the form 
                $("#contact-form-main-id").html("");
                // show the user a success message
                $("#form-message").html(`
                <div class="ui success message form-error">
                  Thanks for getting into contact with us. We will be in touch shortly!
                </div>`);
                // reset the form 
                document.getElementById("contact-form-main-id").reset();
              }
            }
          });
          return false;
        });
</script>