

<form class="ui equal width form contact-form"
 action="https://blockstream.us15.list-manage.com/subscribe/post" method="POST">

<input type="hidden" name="u" value="0754bc253ff6f27aa96c5c48f">
<input type="hidden" name="id" value="e420000e1b">
 
  <div class="fields">
    <div class="field">
      <label>First Name</label>
      <input type="text"
       name="MERGE1" id="MERGE1" 
       placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" 
       name="MERGE2" id="MERGE2" 
       placeholder="Last Name">
    </div>
  </div>

  <div class="fields">
    <div class="field">
      <label>Exchange Name</label>
      <input type="text" 
       name="MERGE5" id="MERGE5"
       placeholder="Exchange Name">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email"
       autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0"
        placeholder="Email">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Link to your API</label>
      <input type="text"
       name="MERGE3" id="MERGE3"
       placeholder="Link to your API">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Custom Message</label>
      <textarea rows="2" 
       name="MERGE4" id="MERGE4"
       placeholder="Custom Message"></textarea>
    </div>
  </div>

  <button type="submit" name="submit" class="fluid ui button">Contact Us</button>
</form>