<div class="ui stackable grid testimonials-slider exchanges-head" id="join-us">

  <div class="sixteen wide column">

    <h2 class="ui header">
      Join Us
    </h2>
    <div class="ui section divider"></div>
    <p>
      Market data available today is fragmented, disparate, and impossible to validate, making trading decisions difficult. We believe that cleaner data will attract more investors, leading to more liquidity, price stability, and therefore greater confidence in the assets’ ability to be used for its stated purpose. Fill in the form below to join the feed.
    </p>

  </div>

</div>