<div class="ui stackable grid about-data">
    <div class="fourteen wide column">
        <h2 class="ui header">
            About cryptocurrency data feed
        </h2>
    </div>
    <div class="two wide column">
        <img class="ui small image" src="./images/iceLogo.png" alt="ice logo" />
    </div>
    
    <p class="sixteen wide column">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et ultrices odio. Aenean gravida felis a dui lobortis, non
        maximus justo commodo. Vestibulum eleifend rhoncus mi et cursus. Phasellus pretium elit vel tristique scelerisque. Quisque
        lacinia tristique tellus quis vestibulum. Vivamus lobortis interdum tempor. Sed tempus mauris urna, at aliquet sem tincidunt
        quis. Sed quis faucibus purus. Etiam sagittis ante nec quam hendrerit fringilla. Etiam non ultricies ex. Integer tincidunt
        dapibus euismod. 
    </p>
    <p>
        Ready to get started? Please visit the Ice page and request to be a <a href="https://www.theice.com/market-data/connectivity-and-feeds/consolidated-feed/coverage-list/cryptocurrencies">subscriber</a>.
    </p>
</div>
