<div class="ui stackable grid about-data" id="about">
    <div class="sixteen wide column">
        <h2 class="ui header">
            Cryptocurrency Data Feed
        </h2>
        <div class="ui section divider"></div>
    </div>
    
    <p class="sixteen wide column">
    The Cryptocurrency Data Feed, a partnership between Blockstream and Intercontinental Exchange (ICE), offers traders best in class real-time and historical cryptocurrency data from a strong and growing list of exchange partners worldwide.
    </p>
    <ul> 
      <li><strong>X crypto and fiat currency pairs</strong> in the feed represent over Y trade and quote updates every day.</li>
      <li><strong>Crosses are captured and normalized</strong> which creates a unique sequence number, details on where the trade took place, and other relevant order book data such as quantity, price, currency and timestamp.</li>
      <li><strong>Level 2 order book data</strong> gives traders full-depth market-by-price by venue insight.</li>
      <li><strong>Value added calculated fields</strong> include Accumulated Volume, VWAP, Turnover Value, and Open/High/Low/Last at standard time 16:55 UTC.</li>
      <li><strong>Venue status messages</strong> indicate whether a venue is healthy or currently experiencing a technical interruption.</li>
      </ul>
      <p>We believe that data transparency will attract more investors, and increase liquidity, price stability, and overall confidence in this new asset class.</p> 
      <p>Ready to join the revolution? Please visit the ICE page to request more information about subscribing to the Cryptocurrency Data Feed.</p>
            
</div>
