<div class="ui stackable grid about-data" id="about">
    <div class="sixteen wide column">
        <h2 class="ui header">
            About cryptocurrency data feed
        </h2>
        <div class="ui section divider"></div>
    </div>
    
    <p class="sixteen wide column">
        Blockstream's Cryptocurrency Data Feed (Crypto Feed) offers traders high quality, real-time cryptocurrency data from a strong and growing list of exchange partners globally, with prices and order book data for bitcoin and other cryptocurrencies. The multi-asset and multi-exchange data feed covers the majority of cryptocurrency exchange trading volume for a broad range of cryptocurrencies against the U.S. Dollar and other major currency pairs.  
    </p>
    <p>
        Ready to get started? Please visit the Ice page and request to be a <a href="https://www.theice.com/market-data/connectivity-and-feeds/consolidated-feed/coverage-list/cryptocurrencies">subscriber</a>.
    </p>
</div>
