<div class="ui stackable grid testimonials-slider">

  <div class="sixteen wide column">
    <h2 class="ui header">
      Testimonials
    </h2>
    <div class="ui section divider"></div>
  </div>


  <!-- the images slider -->
  <div class="twelve wide centered column slider slider-nav">
    {% for testimonial in site.data.testimonials %}
      <div class="ui small circular image slider-img">
          <img class="" src="{{ testimonial.image }}" alt="{{ testimonial.name }}" />
      </div>
    {% endfor %}
  </div>
  <!-- the quote slider -->
    <div class="fourteen wide centered column center aligned slider slider-single">
     {% for testimonial in site.data.testimonials %}
      <div class="">
        <blockquote class="curly-quotes">
          <p class="ui quote">
            <q>
              {{ testimonial.quote }}
              {{ testimonial.quote }}
            </q>
          </p>
        </blockquote>
        <footer >
          {{ testimonial.name }}
        </footer>
      </div>
    {% endfor %}
  </div>

</div>

<script>
 $(document).ready(function() {
  // the slider 
  $('.slider-nav')
    .on('init', function (event, slick) {
      $('.slider-nav .slick-slide.slick-current').addClass('is-active');
    })
    .slick({
      slidesToShow: 5,
      asNavFor: '.slider-single',
      draggable: false,
      slidesToScroll: 1,
      arrows: false,
      focusOnSelect: false,
      swipeToSlide: false,
      infinite: true,
      speed: 200,
      centerMode: true,
      centerPadding: 0,
      responsive: [{
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
        }
      }, {
        breakpoint: 640,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
        }
      }, {
        breakpoint: 420,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        }
      }]
    });

  $('.slider-single').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    asNavFor: '.slider-nav',
    arrows: true,
    fade: false,
    adaptiveHeight: true,
    infinite: true,
    speed: 200,
    // useTransform: true,
    // cssEase: 'cubic-bezier(0.77, 0, 0.18, 1)',
    responsive: [{
      breakpoint: 420,
      settings: {
        arrows: false,
      }
    }]
  });

  // to manage the active photo
  $('.slider-single').on('afterChange', function (event, slick, currentSlide) {
    $('.slider-nav').slick('slickGoTo', currentSlide);
    var currrentNavSlideElem = '.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]';
    $('.slider-nav .slick-slide.is-active').removeClass('is-active');
    $(currrentNavSlideElem).addClass('is-active');
  });

  $('.slider-nav').on('click', '.slick-slide', function (event) {
    event.preventDefault();
    var goToSingleSlide = $(this).data('slick-index');

    $('.slider-single').slick('slickGoTo', goToSingleSlide);
  });
});
</script>