<div class="ui stackable grid about-data why-blockstream">

  <div class="sixteen wide column">
    <h2 class="ui header">
      Why Blockstream + ICE?
    </h2>
    <div class="ui section divider"></div>
  </div>


    <div class="eight wide column">
      <img src="./images/blockstream-logo.png" class="ui centered image" alt="blockstream logo">
      Blockstream consolidates data from leading cryptocurrency exchanges around the world into a normalized and standardized feed that includes real-time and historical trade information, as well as other relevant order book data such as quantities, prices, currencies, and timestamps. The Crypto Feed enables subscribers to make financial decisions based on trusted real-time and historical data, providing greater transparency into markets, informing trading that improves price stability over time, and increasing access to liquidity.
    </div>

    <div class="eight wide column">
      <img src="./images/iceLogo.png" class="ui centered image" alt="Ice logo">
      ICE is a leading provider of data and listings services, and operator of clearing houses and global exchanges, including the New York Stock Exchange. ICE offers a range of market data, valuations, analytics, and tools for global markets across asset classes, including exchanges, continuous and end-of-day evaluated pricing for millions of different securities, complex derivatives, and reference data on millions of different instruments. 
    </div>

  
</div>