<div class="ui stackable grid about-data why-blockstream">

  <div class="sixteen wide column">
    <h2 class="ui header">
      Why Blockstream + ICE?
    </h2>
    <div class="ui section divider"></div>
  </div>


    <div class="eight wide column">
      <img src="./images/blockstream-logo.png" class="ui centered image" alt="blockstream logo">
      Blockstream advances the state of cryptocurrency data through cutting edge technology, standardization, and an open, collaborative working relationship with exchanges around the world. We know what it takes to maintain 24/7 network services, especially in the cryptocurrency industry. Blockstream is an impartial third party with exceptional expertise in Bitcoin and blockchain technology. It is our business to understand the blockchain ecosystem and we aim to build the technology infrastructure that emphasizes fairness, openness, and accountability, and supports our mission to foster greater financial inclusion.
    </div>

    <div class="eight wide column">
      <img src="./images/iceLogo.png" class="ui centered image" alt="Ice logo">
      Intercontinental Exchange (ICE) builds, operates and advances global markets through information, technology and expertise. ICE is a leading provider of data and listings services, and operator of 6 clearing houses and 12 global exchanges, including the New York Stock Exchange. ICE Global Data Services (IDS) provides a combination of pricing and analytics, exchange and OTC data, data feeds and desktops, and connectivity solutions. IDS covers virtually all asset classes, from fixed income and equities to commodities and options, and is cultivating a new era of transparency in global cryptocurrency markets.
    </div>

  
</div>